#helper-message-container {
  /*display: none;*/
  color: black;
  position: fixed;
  top: 85%;
  bottom: auto;
  right: 40%;
  left: 40%;
  z-index: 10000;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

#helper-message {
  font-style: italic;
  font-size: large;
  padding: 1rem;
}
