.popupWindow {
  width: 32%;
  height: 56%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 3em 2rem 3em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 10000;
}

@media only screen and (max-width: 1500px) {
  .popupWindow {
    width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .popupWindow {
    width: 52%;
  }
}

@media only screen and (max-width: 900px) {
  .popupWindow {
    width: 75%;
  }
}

.nextButton {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1rem;
  font-size: large;
}
