#profile-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-info-email {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-posts-container {
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #eee;
}

#user-posts-header {
  margin-bottom: 15px;
  color: #333;
}

#user-posts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
