#posts-container {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  z-index: 10;
  top: 10vh;
  max-height: 85vh;
  max-width: 30vw;
  height: 85vh;
  width: 30vw;
  transform: translateX(-50%);
  transition: left 0.5s ease;
  left: -10vw;

  /* fully transparent container */
  background: rgba(0, 0, 0, 0);
}

#posts-container.show {
  left: 16vw;
}

#posts {
  padding: 1em;
  flex: 1 1 auto;
  display: inline-flex;
  flex-direction: column;

  background: rgba(100, 100, 100, 30%);
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 14px;
  pointer-events: auto;
}

#posts-header {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#posts-show-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-arrows {
  width: 5em;
  height: 5em;
}
