#posts-container {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  z-index: 10;
  top: 10vh;
  left: 1vw;
  max-height: 80vh;
  max-width: 30vw;
  width: 30vw;
  height: 80vh;

  /*
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
  left: -290px;
  */

  /* transparent look */
  background: rgba(100, 100, 100, 0.3); /* semi-transparent */
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 14px;
  pointer-events: auto;
}

#posts-container.show {
  left: 1vw;
}

/*
#posts {
  flex: 1 1 auto;
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  z-index: 10;
  padding: 1rem;
  top: 10vh;
  left: 1vw;
  max-height: 80vh;
  max-width: 30vw;
  width: 30vw;
  height: 80vh;

  /*
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
  left: -290px;

  background: rgba(100, 100, 100, 0.3); 
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 14px;
  pointer-events: auto;
}

  /* semi-transparent */
#posts.show {
  left: 1vw;
}

#posts-header {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
