#sidenav-container {
  height: 100%;
  width: 100%;
  border-right: 1px solid #bbb;
  display: flex;
  flex-direction: column;
}

.sidenav-button {
  border: none;
  background: none;
  font-size: x-large;
  font-weight: 400;
  transition: transform 250ms;
  width: fit-content;
}

.sidenav-button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

#sidenav-main-container {
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#sidenav-secondary-container {
  margin: 0 1rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidenav-settings-container {
  margin: 0 1rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
