#profile-window-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#profile-window-header {
  margin: 0;
  font-size: xx-large;
  font-style: italic;
  font-weight: 600;
}

#logout-button {
  padding: 0.5em;
  color: rgb(155, 0, 0);
  border-color: rgba(255, 80, 80, 0.4);
  background-color: rgba(255, 80, 80, 0.2);
}
