#profile-window-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#profile-window-header {
  margin: 0;
  font-size: xx-large;
  font-style: italic;
  font-weight: 600;
}
