#helper-message-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  opacity: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}

#helper-message-container.show {
  bottom: 15%;
  opacity: 1;
}

#helper-message {
  font-style: italic;
  font-size: x-large;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 16px;
  background: white;
  color: black;
}
