:root {
  --edge: 0.5rem; /* distance from top */
  --nav-h: 64px; /* navbar height */
  --rounded: 14px;
}

/*
 *
#topnav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
}
*/

#topnav-container {
  position: fixed; /* sits above the document flow */
  top: var(--edge); /* 1rem gap from the top */
  left: 50%;
  transform: translateX(-50%);
  width: min(1100px, calc(100% - 2 * var(--edge)));
  height: var(--nav-h);
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Glassy look */
  background: rgba(100, 100, 100, 0.35); /* semi-transparent */
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: var(--rounded);
  z-index: 999;
  pointer-events: auto;
}

#topnav-container button {
  font-family: inherit;
}

.login-buttons-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topnav-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#new-post-button {
  background-color: #4778fcc4;
  color: black;
}

#new-post-button:hover {
  background-color: #4778fff4;
}

.topnav-buttons {
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 32px;
  padding: 0.75rem 2rem;
  font-size: larger;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.topnav-buttons:hover {
  background-color: #ccc;
}
