#topnav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

#title {
  font-style: italic;
  font-size: xxx-large;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  transition: color 250ms ease;
}

#title:hover {
  color: #555;
}

#search-bar {
  border: 1px solid #ccc;
  border-radius: 32px;
  background-color: #f9f9f5;
  width: 28%;
  text-align: center;
  font-size: larger;
  margin: 1rem;
  transition: border-color 250ms ease;
}

@media screen and (max-width: 1500px) {
  #search-bar {
    margin: 0.5rem;
    width: 36%;
  }
}

#search-bar:hover {
  border-color: #999;
}

#search-bar::placeholder {
  text-align: center;
}

.login-buttons-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topnav-button-container {
  display: flex;
  flex-direction: row;
}

#new-post-button {
  background-color: #4778fcc4;
  color: black;
}

#new-post-button:hover {
  background-color: #4778fff4;
}

.topnav-buttons {
  margin: 1rem;
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 32px;
  padding: 0.75rem 2rem 0.75rem 2rem;
  font-size: larger;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.topnav-buttons:hover {
  background-color: #ccc;
}
