/*
 * START OF POPUP WINDOW STYLES
 */
.popupWindow {
  width: 30%;
  height: 60%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 3em 2rem 3em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 10000;
}

@media only screen and (max-width: 1500px) {
  .popupWindow {
    width: 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .popupWindow {
    width: 40%;
  }
}

@media only screen and (max-width: 1050px) {
  .popupWindow {
    width: 45%;
  }
}

@media only screen and (max-width: 900px) {
  .popupWindow {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .popupWindow {
    width: 90%;
    height: 90%;
  }
}

/*
 * END OF POPUP WINDOW STYLES
 */

.loginButton {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: large;
}

.passwordField {
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 16px;
  width: 100%;
  padding-right: 40px;
}

.visibleIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  padding: 5px;
  transform: translateY(-50%);
}
