#tipmap {
  width: 100%;
  height: 100%;
}

#restaurant-popup-container {
  padding: 0.5rem;
  padding-right: 1rem;
  max-width: 10rem;
}

#restaurant-popup-header {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

#restaurant-popup-section-container {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#restaurant-popup-button-container {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

#restaurant-popup-leave-review-button {
  background-color: #4778fcc4;
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
}

#restaurant-popup-see-review-button {
  background-color: #ddd;
  border: none;
  border-radius: 12px;
}

.mapboxgl-popup-close-button {
  font-size: x-large !important;
}
