#new-post-window {
  max-height: 80vh;
  overflow-y: scroll;
  z-index: 999;
}

#new-post-window-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-post-header {
  padding: 0;
  margin: 0;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
}
