#occupation-pill-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.each-pill-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: 1px solid black;
  padding: 0.2em 0.4em;
}
