@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ephesis&family=Playwrite+AU+TAS:wght@100..400&display=swap');

.serverTipsTitle {
  font-family: 'Ephesis', cursive;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}
