#auth-window {
  width: 28rem;
  height: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem 2rem 4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 999;
}

#auth-window-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#auth-window-header {
  margin: 0;
  font-size: xx-large;
  font-style: italic;
  font-weight: 600;
}

#auth-window-header-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.auth-window-header-buttons {
  font-size: x-large;
  font-weight: 600;
}
