@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ephesis&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+TAS:wght@100..400&display=swap");

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

html,
body {
  font-family: "open sans", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #f9f9f5;
}

/**
 * LAYOUT
 */

#main-container {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot-password-container {
  height: 100%;
  width: 100%;
}

/*
 * MISC 
 */

#blur-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  filter: brightness(90%);
  backdrop-filter: blur(1px);
}

.window {
  width: 28rem;
  height: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1000;
}

.input-field {
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: medium;
}

.input-field::placeholder {
  font-size: medium;
}
